* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial, sans-serif';
  background-color: var(--background); /* Use CSS variable for background */
  color: var(--text); /* Use CSS variable for text color */
}

/* Light Mode Color Variables */
:root {
  --primary-color: #CE3D51; /* Light mode primary color */
  --secondary-color: #ff6a80; /* Light mode secondary color */
  --background: #ffffff; /* Light mode background */
  --text: #333333; /* Light mode text color */
  --heading: #2c3e50; /* Light mode heading color */
  --border: #e0e0e0; /* Light mode border color */
  --link: #3498db; /* Light mode link color */
  --hover: #2980b9; /* Light mode hover color */
  --error: #e74c3c; /* Error messages */
  --success: #2ecc71; /* Success messages */
  --warning: #f39c12; /* Warning messages */
}

/* Dark Mode Color Variables */
@media (prefers-color-scheme: dark) {
  :root {
    --primary-color: #CE3D51; /* Dark mode primary color */
    --secondary-color: #ff6a80; /* Dark mode secondary color */
    --background: #1c1c1c; /* Dark mode background */
    --text: #f1f1f1; /* Dark mode text color */
    --heading: #ffffff; /* Dark mode heading color */
    --border: #333333; /* Dark mode border color */
    --link: #1e90ff; /* Dark mode link color */
    --hover: #3b5998; /* Dark mode hover color */
    --error: #e74c3c; /* Error messages */
    --success: #2ecc71; /* Success messages */
    --warning: #f39c12; /* Warning messages */
  }
}
